/* style.css */







.navbar-brand .fa-recycle {
  font-size: 1.5rem;  /* Adjust size */
  color: #ffffff;      /* White color */
  margin-right: 0.5rem;  /* Spacing */
}


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-image {
  width: 55%;
  background: url('https://ncetir.com/Images/login@4x.png') no-repeat center center;
  background-size: cover;
}

.login-form-full {
  width: 45%;
  padding: 60px;
  background-color: #feffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content {
  width: 100%;
}


/* body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-image {
  width: 60%;
  background: url('https://ncetir.com/Images/login@4x.png') no-repeat center center;
  background-size: cover;
}

.login-form-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.card {
  width: 90%;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
}
 */



/* body {
  background: url('https://img.freepik.com/free-vector/green-gradient-background-gradient-3d-design_343694-3667.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* slight transparency */
  /* border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
/* } */ 

/* 

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
  }
  
  form {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input, select, button {
    margin: 10px;
    padding: 10px;
    width: 250px;
  } */
   